@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Poppins:wght@400;500;700&family=Roboto:wght@400;500;700&display=swap');

:root {
  --primary-color-red: #DC143C;
  --text-color: #ffffff;
  --title-color: #B0C4DE;
  --subtitle-color: #E0FFFF;
}